<!DOCTYPE html>
<html>
	<head>
<title>Web app.</title>
	</head>
	<body>
		<h2>Would you like player one to be human or AI?</h2
		<h4>Player one:</h4>
		<form action = "/input" method = "post">
			<select>
			<option value="human">Human</option>
			<option value="simple ai">Simple AI</option>
			<option value="sequential ai">Sequential</option>
			</select>
			<br>
		<h4>Player two:</h4>
			<select>
			<option value="human">Human</option>
			<option value="simple ai">Simple AI</option>
			<option value="sequential ai">Sequential</option>
			</select>
			<br>
			<input type = "submit">
		</form>
	</body>
</html>