Player one please choose X or O.
			<form action = "/player_marker" method = "post">
			<select name = "p1_marker">
			<option value="X">X</option>
			<option value="O">O</option>
		</select>
		<br>
		<input type = "submit">
	</form>
