<!DOCTYPE html>
<html>
	<head>
<title>Tic Tac Toe</title>
	</head>
	<body>
		<h2>Would you like players to be Human or AI?</h2
		<h4>Player one:</h4>
		<form action = "/input" method = "post">
			<select name = "player_one">
			<option value = "Human">Human</option>
			<option value = "Simple AI">Simple AI</option>
			<option value = "Sequential AI">Sequential</option>
			</select>
			<br>
		<h4>Player two:</h4>
			<select name = "player_two">
			<option value = "Human">Human</option>
			<option value = "Simple AI">Simple AI</option>
			<option value = "Sequential AI">Sequential</option>
			</select>
			<br>
			<input type = "submit">
		</form>
	</body>
</html>