Player one is <%=p1_marker%> and player two is <%=p2_marker%>.
This is the gameboard:
	<form action = "/start_game" method = "post">

<!-- <div class="board">
	<div class="lines">
		<div class="line">
			<div class="cell">
				<div class="cell-content">
</div>
		</div>
		<div class="cell">
			<div class="cell-content">
</div>
		</div>
		<div class="cell">
			<div class="cell-content">
</div>
			</div>
		</div>
		<div class="line">
			<div class="cell">
				<div class="cell-content">
</div>
		</div>
		<div class="cell">
			<div class="cell-content">
</div>
		</div>
		<div class="cell">
			<div class="cell-content">
</div>
			</div>
		</div>
		<div class="line">
			<div class="cell">
				<div class="cell-content">
</div>
		</div>
		<div class="cell">
			<div class="cell-content">
</div>
		</div>
		<div class="cell">
			<div class="cell-content">
</div>
			</div>
		</div>
	</div>
</div>
 -->
<table>
			<tr>
				<td
				width="50">1</td>
				<td
				width="50">2</td>
				<td
				width="50">3</td>
			</tr>
			<br>
			<br>
			<tr>
				<td
				width="50">4</td>
				<td
				width="50">5</td>
				<td
				width="50">6</td>
			</tr>
			<br>
			<br>
			<tr>
				<td
				width="50">7</td>
				<td
				width="50">8</td>
				<td
				width="50">9</td>
			</tr>
		</table>
	</form>



	